@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

html {
  min-height: 100%;
  background: #bfdbfe fixed;
}
body {
  background: transparent !important;
  min-height: 100dvh;
}


